@page "/"
@model DynamicComposer.FrontOffice.Host.Pages.IndexModel
@{
    ViewData["Title"] = "Pages";
}

<h1>Available pages</h1>
<div>
@foreach (var p in Model.Pages)
{
    <article>
            <h2><a asp-page="/PageDetails" asp-route-id="@p.Id" asp-route-slug="@p.Slug">@p.Title</a></h2>
            <p>@p.Description</p>
    </article>
}
</div>
