@model (DynamicComposer.Api.Contracts.RelatedPagesBlockDto block, IReadOnlyCollection<DynamicComposer.Api.Contracts.PageSummaryDto> pages)
<section>
    <h3>@Model.block.Heading</h3>
    <ul>
        @foreach (var p in Model.pages)
        {
            <li><a href="/pages/@p.Id/@p.Slug">@p.Title</a></li>
        }
    </ul>
</section>
